<!---------- section: article ---------->
<div id="section-article">
  <!-- article 1 -->
  <article id="article-1">
    <h2 class="article-title">The Value of Money</h2>
    <div class="article-without-title">
      <figure class="article-image-description">
        <img
          class="article-image"
          src="img/article-1.webp"
          alt="money notes of many countries"
        />
        <figcaption>Money currencies of a few nations.</figcaption>
      </figure>
      <p class="article-content">
        Most economists are in agree­ment that the inflation in the United
        States during the past three years has been the worst since the early
        1940′s, taking ac­count of both severity and dura­tion. But they cannot
        agree on the nature of the inflation that is en­gulfing the American
        economy. To some, inflation denotes a spectac­ular rise in consumer
        prices; to others, an excessive aggregate de­mand; and to at least one
        econo­mist, it is the creation of new money by our monetary
        author­ities. This disagreement among econ­omists is more than an
        academic difference on the meaning of a popular term. It reflects
        profes­sional confusion as to the cause of the inflation problem and the
        pol­icies that might help to correct it. A review of some basic
        prin­ciples of economics that are ap­plicable to money may shed light on
        the problem. Two basic questions need to be answered: (1) What are the
        fac­tors that originally afforded value to money, and (2) What are the
        factors that effect changes in the “objective exchange value of mon­ey”
        or its purchasing power?
        <br />
        <strong>Sennholz, H. F.</strong> (1969, November 1). The value of money.
        Foundation for Economic Education.
        <a href="https://fee.org/articles/the-value-of-money/" target="_blank"
          >https://fee.org/articles/the-value-of-money/</a
        >
      </p>
    </div>
  </article>
  <!-- article 2 -->
  <article id="article-2">
    <h2 class="article-title">GMO food</h2>
    <div class="article-without-title">
      <figure class="article-image-description">
        <img
          class="article-image"
          src="img/article-2.webp"
          alt="a person wearing a plastic glove is injecting a tomato"
        />
        <figcaption>People modifying the genes of food.</figcaption>
      </figure>
      <p class="article-content">
        A genetically modified organism (GMO) is an animal, plant, or microbe
        whose DNA has been altered using genetic engineering techniques. For
        thousands of years, humans have used breeding methods to modify
        organisms. Corn, cattle, and even dogs have been selectively bred over
        generations to have certain desired traits. Within the last few decades,
        however, modern advances in biotechnology have allowed scientists to
        directly modify the DNA of microorganisms, crops, and animals.
        Conventional methods of modifying plants and animals—selective breeding
        and crossbreeding—can take a long time. Moreover, selective breeding and
        crossbreeding often produce mixed results, with unwanted traits
        appearing alongside desired characteristics. The specific targeted
        modification of DNA using biotechnology has allowed scientists to avoid
        this problem and improve the genetic makeup of an organism without
        unwanted characteristics tagging along.
        <br />
        <strong>National Geographic Society.</strong> (n.d.). Genetically
        modified organisms. National Geographic Education.
        <a
          href="https://education.nationalgeographic.org/resource/genetically-modified-organisms/"
          target="_blank"
          >https://education.nationalgeographic.org/resource/genetically-modified-organisms/</a
        >
      </p>
    </div>
  </article>
  <!-- article 3 -->
  <article id="article-3">
    <h2 class="article-title">The View of World in 2100</h2>
    <div class="article-without-title">
      <figure class="article-image-description">
        <img
          class="article-image"
          src="img/article-3.webp"
          alt="a city view with buildings at night"
        />
        <figcaption>
          Anticipated skyline of a futuristic city in 2100.
        </figcaption>
      </figure>
      <p class="article-content">
        100 years ago, people resided within a society that was markedly
        distinct from the one we experience today. Humans used gas lamps and
        horse drawn carriages and they had no idea how will life look like in
        next 100 years. Fast forward 100 years to the year 2023, and our planet
        had transformed into a landscape of high-speed internet, virtual
        reality, artificial intelligence, space exploration, and a global
        economy more interconnected than ever before. The contrasts between
        these two points in time are plain, defining a century of remarkable
        progress, changes and innovation. The same, and even bigger changes will
        happen in next 100 years or to be more precise, by year 2100. In this
        article, we will take a deep and detailed view into the future and
        explore the various facets of life in 2100, a life that promises to be
        even more astonishing and transformative than the changes in life and
        world witnessed between 20th and 21st century. So, with, that, let’s
        dive deep, very deep – into the topics of 22nd century.
        <br />
        <strong>Pernar, D.</strong> (2023, October 24). What will the world look
        like in 2100? Curious Matrix.
        <a
          href="https://curiousmatrix.com/what-will-the-world-look-like-in-2100/"
          target="_blank"
          >https://curiousmatrix.com/what-will-the-world-look-like-in-2100/</a
        >
      </p>
    </div>
  </article>
</div>
