<!---------- section: portfolio ---------->
<div id="section-portfolio">
  <h2 id="port-title">Portfolio</h2>
  <!-- project 1 -->
  <figure class="port" id="port-1">
    <img
      class="port-image"
      src="img/port-1.webp"
      alt="A headshot of the Japanese robot ASIMO."
    />
    <figcaption class="port-description">
      Artificial Intelligence & Automation
    </figcaption>
  </figure>
  <!-- project 2 -->
  <figure class="port" id="port-2">
    <img
      class="port-image"
      src="img/port-2.webp"
      alt="A picture with a draw of the earth and slogan One World"
    />
    <figcaption class="port-description">
      Climate Change & Sustainability
    </figcaption>
  </figure>
  <!-- project 3 -->
  <figure class="port" id="port-3">
    <img
      class="port-image"
      src="img/port-3.webp"
      alt="A man in a red sweater sits in the corner of the room, his arms wrapped tightly around his knees."
    />
    <figcaption class="port-description">Mental Health Awareness</figcaption>
  </figure>
  <!-- project 4 -->
  <figure class="port" id="port-4">
    <img
      class="port-image"
      src="img/port-4.webp"
      alt="AA person holds their phone, the screen displaying a fingerprint authentication prompt."
    />
    <figcaption class="port-description">
      Digital Privacy & Data Security
    </figcaption>
  </figure>
  <!-- project 5 -->
  <figure class="port" id="port-5">
    <img
      class="port-image"
      src="img/port-5.webp"
      alt="Six wooden dolls, each representing a different race, stand in front of a wooden globe with the word Diversity displayed above them."
    />
    <figcaption class="port-description">
      Diversity, Equity & Inclusion
    </figcaption>
  </figure>
  <!-- project 6 -->
  <figure class="port" id="port-6">
    <img
      class="port-image"
      src="img/port-6.webp"
      alt="A laptop screen displays a video call with a group of people, with a cup placed to the left of the laptop."
    />
    <figcaption class="port-description">
      Remote Work & The Future of Work
    </figcaption>
  </figure>
</div>
